<md-grid-list cols="3" *ngIf="isLogin">
    <md-grid-tile-header>
        <button md-button style="margin: 10px" (click)="signout()">
            Sign Out
        </button>
    </md-grid-tile-header>
</md-grid-list>
<md-grid-list cols="3" *ngIf="isLogin" rowHeight="50px">
    <md-grid-tile colspan="3">
        <h1 style="margin: 10px">{{userName}}</h1>
    </md-grid-tile>
    <md-grid-tile *ngIf="usubjects">
        <button md-button [routerLink]="['/duels', usubject.Id]" *ngFor="let usubject of usubjects">
            {{usubject.Name}}
        </button>
    </md-grid-tile>
</md-grid-list>