<mat-grid-list cols="3" *ngIf="isLogin">
    <mat-grid-tile-header>
        <button mat-button style="margin: 10px" (click)="signout()">
            Sign Out
        </button>
    </mat-grid-tile-header>
</mat-grid-list>
<mat-grid-list cols="3" *ngIf="isLogin" rowHeight="50px">
    <mat-grid-tile colspan="3">
        <h1 style="margin: 10px">{{userName}}</h1>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="usubjects">
        <button mat-button [routerLink]="['/duels', usubject.Id]" *ngFor="let usubject of usubjects">
            {{usubject.Name}}
        </button>
    </mat-grid-tile>
</mat-grid-list>