<mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
        <h1>DUELS</h1>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="45px">
    <mat-grid-tile-header></mat-grid-tile-header>
    <mat-grid-tile>
        <button mat-button (click)="newduel()" 
            style="background-color:pink;">
            New Duel
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" [style.background]="'yellow'">
        <div [innerHTML]=info></div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile *ngIf="duels" [rowspan]="duels.length">
        <div>
            <div *ngFor="let duel of duels" style="margin: 10px">
                <button mat-button 
                style="background-color:lightgreen;min-width:200px"
                 color="primary" (click)="onSelect(duel)">
                    {{duel.Summary}}
                </button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" [style.background]="'lightyellow'" *ngIf="duels" [rowspan]="10">
        <round *ngIf="selectedRound && selectedDuel" [round]="selectedRound" [duel]="selectedDuel"></round>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>