<div class="container-fluid" *ngIf="round && duel">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <mat-progress-spinner [value]="countdown"></mat-progress-spinner>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div>
                {{round.Question}}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <button mat-button (click)="leftChoice()">
                {{round.LeftVariant}}
            </button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button mat-button (click)="rightChoice()">
                {{round.RightVariant}}
            </button>
        </div>
    </div>
</div>