<mat-card style="width:400px; height:400px;">
    <mat-card-content>
        <mat-grid-list cols="5" *ngIf="round && duel">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2">
                <mat-progress-spinner [value]="countdown"></mat-progress-spinner>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>

            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
                {{round.Question}}
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>

            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
                <button mat-button (click)="leftChoice()">
                    {{round.LeftVariant}}
                </button>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
                <button mat-button (click)="rightChoice()">
                    {{round.RightVariant}}
                </button>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>

            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>