<md-grid-list cols="5" rowHeight="100px">
    <md-grid-tile colspan="5" [style.background]="'lightblue'"></md-grid-tile>

    <md-grid-tile colspan="2" [style.background]="'lightblue'"></md-grid-tile>
    <md-grid-tile [style.background]="'red'">
        {{question}}
    </md-grid-tile>
    <md-grid-tile colspan="2" [style.background]="'lightblue'"></md-grid-tile>

    <md-grid-tile colspan="5" [style.background]="'lightblue'"></md-grid-tile>

    <md-grid-tile [style.background]="'lightblue'"></md-grid-tile>
    <md-grid-tile [style.background]="'red'">
        <button md-button (click)="rightChoice()">
            {{rightVariant}}
        </button>
    </md-grid-tile>
    <md-grid-tile [style.background]="'lightblue'"></md-grid-tile>
    <md-grid-tile [style.background]="'red'">
        <button md-button (click)="leftChoice()">
            {{leftVariant}}
        </button>
    </md-grid-tile>
    <md-grid-tile [style.background]="'lightblue'"></md-grid-tile>

    <md-grid-tile colspan="5" [style.background]="'lightblue'"></md-grid-tile>
</md-grid-list>